
<ul>
    <li style="float:right"><a class="nav listeLien" id="copy" href='#'> &copy;2016 - jbrozzu - </a></li>
    <li style="float:right; border-right: none;"><a class='nav listeLien' href='#'>About</a></li>
    <li style="float:right"><a class='nav listeLien' href='#'>Contact</a></li>
</ul>
