/*  MAIN PAGE  */

html {
    height: 100%;
}

body {
    background-image: url('../../ressources/images/confectionary.png');
    height: 100%;
}

.corpus {
    width: 1000px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    min-height: 100%;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
}

h2 {
    text-align: center;
    margin-bottom: -20px;
}


/*  HEADER  FOOTER  */

header {
	background-color: #333;
    position: fixed;
    top: 0;
    right: 0%;
    width: 100%;
    z-index: 10;
}

.container1 {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

.nav {
    border-right:1px solid #bbb;
    height: 22px;
}



li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.logo) {
    background-color: #111;
}

.logo {
	background-color: #FFA500;
    height: 20px;
}

footer {
    background-color: #333;
    position: fixed;
    bottom: 0;
    right: 0%;
    width: 100%;
    z-index: 10;
}

.nav1 {
    font-size: 18px;
    padding-top: 16px;
    padding-bottom: 12px;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    width: 120px;
}


/*  MENU DÉROULANT  */


#def1 {
    border-top:1px solid #bbb;
}

#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#menu-deroulant {
    text-align: center;
}
#menu-deroulant li {
    display: block;
    
}
#menu-deroulant ul li {
    display: inherit;
}
#menu-deroulant a {
    text-decoration: none;
    display: block;
    color:white;
}
#menu-deroulant ul {
    position: absolute;
    left: -999em;
    text-align: left;
    z-index: 1000;
}
#menu-deroulant li:hover ul {
    left: auto;
}

.subtitle {
    text-align: center;
    display: block;
    width: 154px;
}


/*  FORMULAIRE  */


.form {
    border-radius: 5px;
    padding: 50px;
    width: 55%;
    max-width: 500px;
    margin: 0 auto;
}

input[type=text], input[type=password], input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 13px;
}

.Sub {
    width: 100%;
    background-color: #FFA500;
    color: white;
    padding: 10px 0;
    margin: 4px 0 25px 0;
    border: solid 2px #333;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 95%;
}

.Sub:hover {
    background-color: #E59400;
}

#forgot {
    float:right;
}

#forgot-link {
    text-decoration: none;
    color: black;
}


/*  profil  */


.user {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 2px solid #333;
  margin-right: auto;
  margin-left: auto;
}

.one {
  background-image: url('https://mcmprodaaas.s3.amazonaws.com/s3fs-public/styles/adaptive/public/profile-placeholder.png?itok=FCDqaoiV');
  overflow: hidden;
}

.img_profil {
    max-width: 204px;
    min-width: 204px;
    min-height: 204px;
    margin-top: -2px;
    margin-left: -2px;
}

#infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: orange;
    background-image: url('../../ressources/images/confectionary.png');
    width: 450px;
    min-height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    border-radius: 10px;
    border: 1px solid #333;
    word-wrap: break-word;
}

#label {
    width: 200px;
    height: 280px;
    padding-top: 15px;
}

#result {
    width: 200px;
    height: 280px;
    text-align: left;
    padding-top: 15px;
}

#staticmap {
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

#img-static {
    border-radius: 35%;
    border: 2px solid #333;
    margin-top: 50px;
}

.sublabel {
    text-align: right;
     font-weight: bold;
}

#map {
        height: 100%;
      }

#googleMap {
    width: 500px;
    height: 380px;
    border: 2px solid #717171;
    margin-top: 10px;
}

.input-profil {
    width: 100%;
    background-color: #FFA500;
    color: white;
    padding: 12px 45px;
    margin: 0px 0 18px 0;
    border: solid 2px #333;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 100%;
    display: inline-block;
}

.input-profil:hover {
    background-color: #E59400;
}

.input-picture {
    width: 100%;
    padding: 2px 0;
    border: solid 1px #333;
    border-radius: 4px;
    cursor: pointer;
    font-size: 87%;
    display: inline-block;
}

.div-input-picture {
    padding: 25px 0 0 0;
    width: 188px;
    margin-right: auto;
    margin-left: auto;
}

.input-picture:hover {
    background-color: #ccc;
}


/*    UPLOAD PICTURES   */

#form_upload {
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    width: 400px;
}


.table_pic {
    width: 970px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 80px;
}

.cont_pic {
    margin: 10px 5px;
    border: 3px solid #ccc;
    width: 300px;
    height: 300px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    background-color: #cccccc;
}

.display_pic {
    max-width: 300px;
    max-height: 300px;
}

.cross {
    position: absolute;
    z-index: 5;
    margin-left: 10px;
    margin-top: 15px;
}


/*  RECHERCHE  */

.cont_search {
    width: 970px;
    display: flex;
    flex-flow: row wrap;
}

.cont_uni_search {
    width: 200px;
    height: 200px;
    background-color: #cccccc80;
    margin-left: 40px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px #888888;
    border-radius: 30px;
}

.search_pic {
    max-width: 154px;
    min-width: 154px;
    min-height: 154px;
    margin-top: -2px;
    margin-left: -2px;
}

.cont_pic_search {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 2px solid #333;
    background-image: url('https://mcmprodaaas.s3.amazonaws.com/s3fs-public/styles/adaptive/public/profile-placeholder.png?itok=FCDqaoiV');
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

.info_search {
    text-align: center;
    margin-top: 10px;
}

.link_search {
    text-decoration: none;
    color: black;
}

.form_search {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 98%;
    margin-right: auto;
    margin-left: auto;
}

.lib_search {
    display: inline-block;
    margin-left: 14px;
}

.search_elem {
    display: inline-block;
}

.sub_search {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.sub_search_bottom {
    width: 100%;
    background-color: #FFA500;
    color: white;
    border: solid 2px #333;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 95%;
    margin-top: 10px;
}

.sub_search_bottom:hover {
    background-color: #E59400;
}


