/*  MAIN PAGE  */

html {
    height: 100%;
}

body {
    background-image: url('../../ressources/images/confectionary.png');
    height: 100%;
}

.corpus {
    width: 1000px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    min-height: 100%;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
}

h2 {
    text-align: center;
    margin-bottom: -20px;
}


/*  HEADER  FOOTER  */

header {
	background-color: #333;
    position: fixed;
    top: 0;
    right: 0%;
    width: 100%;
    z-index: 2;
}

.container1 {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

.nav {
    border-right:1px solid #bbb;
    height: 22px;
}



li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.logo) {
    background-color: #111;
}

.logo {
	background-color: #FFA500;
    height: 20px;
}

footer {
    background-color: #333;
    position: fixed;
    bottom: 0;
    right: 0%;
    width: 100%;
}

.nav1 {
    font-size: 18px;
    padding-top: 16px;
    padding-bottom: 12px;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    width: 120px;
}


/*  MENU DÉROULANT  */

#def1 {
    border-top:1px solid #bbb;
}

#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#menu-deroulant {
    text-align: center;
}
#menu-deroulant li {
    display: block;
    
}
#menu-deroulant ul li {
    display: inherit;
}
#menu-deroulant a {
    text-decoration: none;
    display: block;
    color:white;
}
#menu-deroulant ul {
    position: absolute;
    left: -999em;
    text-align: left;
    z-index: 1000;
}
#menu-deroulant li:hover ul {
    left: auto;
}

.subtitle {
    text-align: center;
    display: block;
    width: 154px;
}


/*  FORMULAIRE  */


.form {
    border-radius: 5px;
    padding: 50px;
    width: 55%;
    max-width: 500px;
    margin: 0 auto;
}

input[type=text], input[type=password], input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 13px;
}

/*input[type=submit] {
    width: 100%;
    background-color: #FFA500;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: solid 2px #333;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 100%;
    display: inline-block;
}

input[type=submit]:hover {
    background-color: #E59400;
}
*/

.Sub {
    width: 100%;
    background-color: #FFA500;
    color: white;
    padding: 10px 0;
    margin: 4px 0 25px 0;
    border: solid 2px #333;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 95%;
}

.Sub:hover {
    background-color: #E59400;
}

#forgot {
    float:right;
}

#forgot-link {
    text-decoration: none;
    color: black;
}


/*  profil  */


.user {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 2px solid #333;
  margin-right: auto;
  margin-left: auto;
}

.one {
  background-image: url('http://philippedouale.com/wp-content/uploads/2014/12/Philippe-Douale.jpeg');
}

#infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: orange;
    background-image: url('../../ressources/images/confectionary.png');
    width: 450px;
    min-height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    border-radius: 10px;
    border: 1px solid #333;
}

#label {
    width: 200px;
    height: 280px;
    padding-top: 15px;
}

#result {
    width: 200px;
    height: 280px;
    text-align: left;
    padding-top: 15px;
}

#staticmap {
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

#img-static {
    border-radius: 35%;
    border: 2px solid #333;
}

.sublabel {
    text-align: right;
     font-weight: bold;
}

#map {
        height: 100%;
      }

#googleMap {
    width: 500px;
    height: 380px;
    border: 2px solid #717171;
    margin-top: 10px;
}

.input-profil {
    width: 100%;
    background-color: #FFA500;
    color: white;
    padding: 12px 45px;
    margin: 0px 0 18px 0;
    border: solid 2px #333;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 100%;
    display: inline-block;
}

.input-profil:hover {
    background-color: #E59400;
}

