{% extends 'templates/app.twig' %}

{% block content %}


{% if flash.getMessage('error') %}
    {% for error in flash.getMessage('error') %}
        <div class="flashError">
            {{ error }}
        </div>
    {% endfor %}
{% endif %}

<!-- {% if flash.getMessage('error') %}
        <div class="flashError">
            {{ flash.getMessage('error').0 }}
        </div>
{% endif %} -->
    
    
    <h2>Mot de passe oublié</h2>
        
    <div class="form">
        <form method="post" action="{{ path_for('auth.forgot') }}">
			<label for="pseudo"> Pseudo </label>
			<input type="text" name="pseudo" id="pseudo" autofocus />
			<br />
			<label for="email"> E-mail </label>
			<input type="text" name="email" id="email" />
			<br /><br />
			<input class='Sub' type="submit" value="ENVOYER" />
        </form>
    </div>



{% endblock %}