<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Matcha</title>
		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/app.css">
	</head>

	<body>
	<header>
		<div class="container1">
			{% include 'templates/partials/header.twig' %}
		</div>
	</header>
	
	<div class="corpus">

		{% block content %} {% endblock %}

	</div>	

	<footer>
		<div class="container1">
			{% include 'templates/partials/footer.twig' %}
		</div>
	</footer>
	</body>

</html>